{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Search Product Name{% endblock %}</h1>
{% endblock %}

{% block content %}
    <form method="post">
        <!-- <label for="product_name">product_name</label>
        <input name="product_name" id="product_name" required> -->
        <!-- <input type="search" name="product_name" size="10"> -->
        <input type="search" id="search_bar" name="product_name" size="10">
        <input type="submit" value="검색">
    </form>
    {% if products %}
        {% for product in products %}
            <article class="product_into">
                <header>
                    <div>
                    <h1>{{ product['pname'] }}</h1>
                    <div class="about">개수: {{ product['counts'] }}, 등록일: {{ product['created'].strftime('%Y-%m-%d') }}, 카테고리: {{ product['category'] }},  <a href="">구매하기</a></div>
                    </div>
                </header>
                <p class="description">뭐해야 하지?뭐해야 하지?뭐해야 하지?뭐해야 하지?뭐해야 하지?뭐해야 하지?뭐해야 하지?뭐해야 하지?뭐해야 하지?뭐해야 하지?뭐해야 하지?</p>
                
            </article>
            {% if not loop.last %}
            <hr>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}